.top_title_container {
  background: linear-gradient(0deg, #8974b6,rgb(2, 28, 51));
  padding-top: 13%;
  padding-bottom: 9%;
  text-align: center;
  color: white;
}

.top_title_about {
  font-size: 70px;
  font-weight: bold;
} 

.top_title {
  font-size: 70px;
  font-weight: bold;
}

.top_description {
  font-size: 50px;
}

.about_us_container {
  padding: 6%;
}

.about_us_title {
  font-size: 50px;
  color: #8974b6;
  font-weight: bold;
}

.about_us_description {
  font-size: 30px;
}

.about_commitment_title {
  margin-top: 2rem;
  font-size: 30px;
}

.about_commitment {
  font-size: 25px;
  margin: 1rem;
}

.bullet_point {
  width: 2rem;
  margin-right: 1rem;
  transition: transform .2s;
}

.bullet_point:hover {
  transform: scale(1.5)
}

.capabilites_title {
  font-size: 50px;
  color: #8974b6;
  font-weight: bold;
  padding-left: 6%;
}

.capabilites_line {
  border-bottom: solid;
  border-width: thin;
  border-color: black;
  width: 85%;
  margin: 0 0 3% 6%;
}

.capabilites_num_container {
  display: grid;
  grid-template-columns: .5fr 27% 27% 27% 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem 2rem;
}

.capabilities_experts_container {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-rows: 50% 40%;
  text-align: center;
  background-color: #8974b6;
  padding: 7% 0 8% 0;
  box-shadow: 0 0 7px -1px;
  border-radius: 3px;
}

.experts_num {
  grid-row: 1;
  font-size: 110px;
  font-weight: bolder;
}

.experts_title {
  grid-row: 2;
  font-size: 60px;
  font-weight: bold;
}

.capabilities_experience_container {
  grid-column: 3;
  grid-row: 1;
  display: grid;
  grid-template-rows: 50% 40%;
  text-align: center;
  background-color: darkgray;
  padding: 7% 0 8% 0;
  box-shadow: 0 0 7px -1px;
  border-radius: 3px;
}

.experience_num {
  grid-row: 1;
  font-size: 110px;
  font-weight: bolder;
}

.experience_title {
  grid-row: 2;
  font-size: 60px;
  font-weight: bold;
}

.capabilities_clients_container {
  grid-column: 4;
  grid-row: 1;
  display: grid;
  grid-template-rows: 50% 40%;
  background-color: #5d33bf;
  text-align: center;
  padding: 7% 0 8% 0;
  box-shadow: 0 0 7px -1px;
  border-radius: 3px;
}

.clients_num {
  grid-row: 1;
  font-size: 110px;
  font-weight: bolder;
  color: #F1F1F1;
}

.clients_title {
  grid-row: 2;
  font-size: 60px;
  color: #F1F1F1;
  font-weight: bold;
}

.capabilities_time_container {
  grid-column: 2;
  grid-row: 2;
  background-color: darkgray;
  border-radius: 3px;
  text-align: center;
  padding: 7% 0 8% 0;
  box-shadow: 0 0 7px -1px;
}

.capabilities_wws_container {
  grid-column: 3;
  grid-row: 2;
  background-color: #5d33bf;
  border-radius: 3px;
  text-align: center;
  padding: 7% 0 8% 0;
  box-shadow: 0 0 7px -1px;
}

.capabilities_icon {
  color: white;
  margin-top: 2rem;
}

.capabilities_icon.ship {
  color: black;
}

.capabilities_estimates_container {
  grid-column: 4;
  grid-row: 2;
  background-color: #8974b6;
  border-radius: 3px;
  text-align: center;
  padding: 7% 2rem 8% 2rem;
  box-shadow: 0 0 7px -1px;
}

.capabilities_exceptional_container {
  grid-area: 3 / 2 / 4 / 4; 
  background-color: #8974b6;
  border-radius: 3px;
  text-align: center;
  padding: 7% 0 8% 0;
  box-shadow: 0 0 7px -1px;
}

.capabilities_shipping_container {
  grid-column: 4;
  grid-row: 3;
  background-color: darkgray;
  border-radius: 3px;
  text-align: center;
  padding: 7% 0 8% 0;
  box-shadow: 0 0 7px -1px;
}

.text_ {
  font-size: 60px;
  font-weight: bold;
}

.text_.white {
  color: #F1F1F1;
}

.iconn_ {
  width: 20%;
}

.iconn_2 {
  width: 10%;
}


/* ipad pro */
@media only screen and (max-width: 1024px) {
  .top_title {
    margin-top: 2rem;
    font-size: 50px;
  }

  .top_title_about {
    margin-top: 2rem;
    font-size: 50px;
  }

  .top_description {
    font-size: 40px;
  }

  .capabilites_num_container {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: repeat(4, 25%);
    gap: 1rem 1rem;
    margin-bottom: 7rem;
  }


  .capabilities_experience_container {
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: 40% 20%;
  }

  .capabilities_clients_container {
    grid-column: 3;
    grid-row: 1;
    grid-template-rows: 40% 20%;
  }

  .capabilities_experts_container {
    grid-column: 2;
    grid-row: 1;
    grid-template-rows: 40% 20%;
  }

  .capabilities_time_container {
    grid-row: 2;
    grid-column: 3;
  }

  .capabilities_wws_container {
    grid-row: 3;
    grid-column: 2;
  }

  .capabilities_estimates_container {
    grid-row: 3;
    grid-column: 3;
  }

  .capabilities_shipping_container {
    grid-row: 4;
    grid-column: 2;
  }

  .capabilities_exceptional_container {
    grid-row: 4;
    grid-column: 3;
  }

  .num {
    font-size: 35px;
  }

  .text_ {
    font-size: 30px;
  }

  .text_.white {
    margin: 0 1rem;
  }

  .iconn_2 {
    width: 12%;
  }
} 


/* ipad */ 
@media only screen and (max-width: 768px) { 
  .capabilites_num_container {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: repeat(4, 25%);
    gap: 1rem 1rem;
    margin-bottom: 7rem;
  }

  .capabilities_experience_container {
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: 40% 20%;
  }

  .capabilities_clients_container {
    grid-column: 3;
    grid-row: 1;
    grid-template-rows: 40% 20%;
  }

  .capabilities_experts_container {
    grid-column: 2;
    grid-row: 1;
    grid-template-rows: 40% 20%;
  }

  .capabilities_time_container {
    grid-row: 2;
    grid-column: 3;
  }

  .capabilities_wws_container {
    grid-row: 3;
    grid-column: 2;
  }

  .capabilities_estimates_container {
    grid-row: 3;
    grid-column: 3;
  }

  .capabilities_shipping_container {
    grid-row: 4;
    grid-column: 2;
  }

  .capabilities_exceptional_container {
    grid-row: 4;
    grid-column: 3;
  }

  .num {
    font-size: 35px;
  }

  .text_ {
    font-size: 25px;
  }

  .text_.white {
    margin: 0 1rem;
  }

  .iconn_2 {
    width: 12%;
  }
}
  

/* iphone 6/7/8 plus */
@media only screen and (max-width: 414px) {  
  .top_title {
    margin-top: 3rem;
    font-size: 30px;
  }

  .top_description {
    font-size: 25px;
  }

  .about_us_title {
    font-size: 30px;
  }

  .about_us_description {
    font-size: 20px;
  }

  .about_commitment_title {
    font-size: 23px;
  }

  .about_commitment {
    font-size: 20px;
  }

  .capabilites_title {
    font-size: 25px;
  }

  .capabilites_num_container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .cc {
    margin-bottom: 2rem;
  } 

  .text_ {
    font-size: 27px;
  }

  .num {
    font-size: 35px;
  }

  .iconn_2 {
    width: 18%;
  }
}

/* iphone x */
@media only screen and (max-width: 375px) {  
  .top_title {
    margin-top: 3rem;
    font-size: 30px;
  }

  .top_description {
    font-size: 25px;
  }

  .about_us_title {
    font-size: 30px;
  }

  .about_us_description {
    font-size: 20px;
  }

  .about_commitment_title {
    font-size: 23px;
  }

  .about_commitment {
    font-size: 20px;
  }

  .capabilites_title {
    font-size: 25px;
  }

  .capabilites_num_container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .cc {
    margin-bottom: 2rem;
  } 

  .text_ {
    font-size: 27px;
  }

  .num {
    font-size: 35px;
  }

  .iconn_2 {
    width: 18%;
  }
}

