.total_care_title {
  margin-top: 3rem;
  font-size: 50px;
  text-align: center;
  color: #8974b6;
  font-weight: bold;
}

.agreement_middle {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
}

.agreement_description1 {
  grid-column: 2;
  font-size: 30px;
  text-align: center;
  align-self: center;
  padding: 0 2rem;
}

.agreement_img_container {
  grid-column: 3;
}

.agreement_img {
  width: 100%;
}

.total_care_title.two {
  margin-bottom: 2rem;
}

.benefits_container {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  margin: 3rem 0;
}

.benefits_description {
  font-size: 30px;
  text-align: center;
  margin: 2rem 7rem;
}

.money_img_container {
  text-align: center;
}

.money_img {
  width: 40%;
}

