.toggle_button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.toggle_button:focus {
  outline: none;
}

.toggle_button_line {
  width: 30px;
  height: 1px;
  background: black;
}

.mobile_logo {
  width: 40%;
  margin-right: 1rem;
}
