.toolbar {
  width: 100%;
  position: fixed;
  height: 12%;
  background-color: #F1F1F1;
  font-size: 25px; 
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  padding-top: 4%;
  padding-bottom: 4%;
  z-index: 11;
  box-shadow: 0 0 7px -1px;
}

.toolbar_nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.toolbar_logo {
  padding-left: 3%;
}

.toolbar_nav_items {
  display: flex;
}

.toolbar_nav_items ul {
  display: flex;
  align-items: center;
}

.toolbar_nav_items li {
  padding: 0 1rem;
  list-style: none;
}

.toolbar_nav_items ul li a {
  color: black;
  text-decoration: none;
}

.toolbar_toggle_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .toolbar_nav_items{
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar_toggle_button{
    display: none;
  }
}

@media only screen and (max-width: 1024px) { 
  .toolbar {
    font-size: 20px;
    height: 8%;
  }

  .toolbar_logo img {
    width: 60%;
    padding: 0;
  }
}
