/* .testimonial_container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2%;
  font-family: 'Yantramanav', sans-serif;
  padding-left: 15%;
  padding-right: 15%;
}

.testimonial_title1{
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
  width: 300px;
  margin: 50px auto;
  border: 4px solid #34A392;
  padding: 20px;
  text-align: center;
  color: black;
  position: relative;
  border-radius: 5%;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #34A392;
  border-right: 10px solid transparent;
  border-top: 10px solid #34A392;
  border-bottom: 10px solid transparent;
  right: -21px;
  top: 6px;
}

.sb1:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid #fff;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  right: -11px;
  top: 10px;
}


.testimonial_name1 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.testimonial_title2{
  grid-column: 4;
  grid-row: 2;
  font-size: 20px;
  color: white;
  width: 300px;
  margin: 50px auto;
  border: 4px solid #C61B1C;
  border-radius: 5%;
  padding: 20px;
  text-align: center;
  color: black;
  position: relative;
}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #C61B1C;
  border-right: 10px solid transparent;
  border-top: 10px solid #C61B1C;
  border-bottom: 10px solid transparent;
  left: 20px;
  bottom: -23px;
}

.sb2:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: 24px;
  bottom: -13px;
}

.testimonial_name2 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.testimonial_title3{
  grid-column: 2;
  grid-row: 2;
  font-size: 20px;
  color: white; 
  width: 300px;
  margin: 50px auto;
  border: 4px solid darkgray;
  padding: 20px;
  text-align: center;
  color: black;
  position: relative;
  border-radius: 5%;
}

.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid darkgray;
  border-top: 10px solid darkgray;
  border-bottom: 10px solid transparent;
  right: 20px;
  bottom: -23px;
}

.sb3:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 24px;
  bottom: -13px;
}

.testimonial_name3 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.testimonial_title4{
  grid-column: 3;
  grid-row: 1;
  font-size: 20px;
  width: 300px;
  margin: 50px auto;
  border: 4px solid #2773a9;
  padding: 20px;
  text-align: center;
  color: black;
  position: relative;
  border-radius: 5%;
}

.sb4:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #2773a9;
  border-top: 10px solid #2773a9;
  border-bottom: 10px solid transparent;
  left: -21px;
  top: 6px;
}

.sb4:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  left: -11px;
  top: 10px;
}

.testimonial_name4 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: bolder;
}  */

.testimonal_container {
  padding: 3%;
  font-size: 20px;
}

.quotes_icon {
  padding-left: 10%;
}

.testimonial_description {
  text-align: center;
}

.testimonial_name {
  text-align: center;
  font-weight: bold;
  padding-top: 1%;
}

.testimonial_location {
  text-align: center;
}

