form{
  display: grid;
  grid-template-rows: repeat(4, 20%) 50% 20%;
  padding-top: 5%;
  font-size: 25px;
}

/* .form-group {
  padding: 3%;
} */

#name {
  font-size: 20px;
  padding: 2%;
  width: 50%;
}

#textarea {
  width: 54%;
  height: 90%;
}


.btn {
  padding: 3%;
  width: 30%;
  grid-row: 6;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #34A392;
  border-radius: 4%;
  cursor: pointer;
}






