.contact_title_container {
  background: linear-gradient(0deg, #8974b6,rgb(2, 28, 51));
  padding-top: 13%;
  padding-bottom: 8%;
  text-align: center;
  color: white;
}

.contact_title {
  font-size: 60px;
}

.contact_description {
  font-size: 35px;
}
