
.testimonal_container {
  padding: 2%;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

.testimonial_description {
  text-align: center;
  padding-right: 23%;
  padding-left: 23%;
  font-style: italic;
}

.testimonial_name {
  font-weight: bold;
  padding-top: 1%;
  padding-left: 13%;
}

.testimonial_location {
  padding-left: 13%;
  font-weight: bold;
}

/* iphone 5-6 and pluses */
@media only screen and (max-width: 414px) {
  .testimonial_description {
    font-size: 18px;
    padding: 1rem;
  }

  .testimonial_name {
    font-size: 18px;
  }

  .testimonial_location {
    font-size: 15px;
  }
}

/* ipad  */
@media only screen and (max-width: 1024px) {
  .testimonial_description {
    font-size: 25px;
  }

  .testimonial_name {
    font-size: 20px;
  }

  .testimonial_location {
    font-size: 18px;
  }
}
