
.testimonal_container {
  padding: 2%;
  font-size: 20px;
}

.testimonial_description {
  text-align: center;
  padding-right: 8%;
  padding-left: 8%;
}

.testimonial_name {
  text-align: center;
  font-weight: bold;
  padding-top: 1%;
}

.testimonial_location {
  text-align: center;
}

