.career_positions {
  text-align: center;
  font-size: 60px;
  color: #8974b6;
  font-weight: bold;
  margin: 3rem;
}

.career_available {
  display: flex;
  justify-content: space-evenly;
}

.position_container1 {
  background-color: darkgray;
  box-shadow: 0 0 7px -1px;
  padding: 2%;
}

.position_icon_container {
  grid-row: 2;
  display: grid;
  grid-template-columns: 10% 60%;
}

.position_title {
  font-size: 30px;
  grid-row: 1;
  font-weight: bold;
}

.position_icon {
  grid-column: 1;
  justify-self: end;
}

.postion_location {
  font-size: 25px;
  grid-column: 2;
}

.position_container3 {
  background-color: darkgray;
  box-shadow: 0 0 7px -1px;
  padding: 2% 3%;
}
